body {
    background-color: rgb(222, 214, 224);
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(233, 88, 220);
}

.bookDetails {
    display: grid;
    grid-template-columns:.25fr 1fr;
    gap: 30px ;
   
}


.bookForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px ; 

}

#read {
    height: 20px;
    width: 20px; 
}

.readDiv {
    display: flex;
    gap: 15px ;
}

.bookForm > input {
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}


.addBook {
    width: 150px ;
    height: 50px ;
    font-size: 20px ;
    border-radius: 10px;
    background-color: rgb(225, 155, 225);
}

.addBook:hover {
    background-color: rgb(227, 182, 232);
}

.myBooks {
   
    display: grid;
    grid-template-columns: repeat(5, .2fr);
    gap: 30px ;
    padding: 10px ; 
    

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 148, 207);
    color:rgb(15, 15, 15); 
    width: 16em;
    height: 18em;
    border-radius: 10px;
  
}


.readBtn {
    padding: 10px;
    border-radius: 10px ;
    font-size: 1em ;
    font-weight: bold;
    margin-bottom: 5px;
}

.removeBtn {
    border-color: red;
    color: red;
    padding: 10px;
    border-radius: 10px ;
    font-size: 1em ;
    font-weight: bold;
} 